pipeline/BulkCopyMultiTables.json
{
	"name": "BulkCopyMultiTables",
	"properties": {
		"activities": [
			{
				"name": "IterateTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupTableList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyData",
							"type": "Copy",
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"typeProperties": {
								"source": {
									"type": "SqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "BlobSink"
								},
								"enableStaging": false,
								"dataIntegrationUnits": 0
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTableTemplate",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureBlobTemplate",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "LookupTableList",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'"
					},
					"dataset": {
						"referenceName": "AzureSqlTableTemplate",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		]
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}