DemoFactoryAug2018/PartialArmTemplates/ArmTemplate_9_19_2018_14_43_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "DemoFactoryAug2018"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BulkCopyMultiTables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateTables",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "LookupTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"items": {
								"value": "@activity('LookupTableList').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyData",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTableTemplate",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureBlobTemplate",
											"type": "DatasetReference",
											"parameters": {
												"tableName": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "LookupTableList",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'"
							},
							"dataset": {
								"referenceName": "AzureSqlTableTemplate",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableTemplate')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobTemplate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/GetTableListAndTriggerCopyData')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "LookupTableList",
						"type": "Lookup",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT' and TABLE_NAME <> 'ProductModel'"
							},
							"dataset": {
								"referenceName": "AzureSqlTableTemplate",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "TriggerCopy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "LookupTableList",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"pipeline": {
								"referenceName": "IterateAndCopySQLTablesPipeline",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"tableList": {
									"value": "@activity('LookupTableList').output.value",
									"type": "Expression"
								}
							}
						}
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableTemplate')]",
				"[concat(variables('factoryId'), '/pipelines/IterateAndCopySQLTablesPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalCopyAndAnalysis')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyFromSQL",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "SqlSource",
								"sqlReaderQuery": {
									"value": "select * from [dbo].[NYTaxiTripData] where [lpep_pickup_datetime] >= '@{formatDateTime(pipeline().parameters.WindowStart, 'yyyy/MM/dd')}' and [lpep_pickup_datetime] < '@{formatDateTime(adddays(pipeline().parameters.WindowStart, 1), 'yyyy/MM/dd')}'",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureSqlTableTemplate",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2Sink_SQL",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "input/@{formatDateTime(pipeline().parameters.WindowStart, 'yyyy/MM/dd')}",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DataAnalaysis",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "CopyFromSQL",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "CopyFromFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"notebookPath": "/Users/jingwang@microsoft.com/ADF-ADLSGen2-DemoNotebook",
							"baseParameters": {
								"inputPath": {
									"value": "input/@{formatDateTime(pipeline().parameters.WindowStart, 'yyyy/MM/dd')}",
									"type": "Expression"
								},
								"outputPath": {
									"value": "output/@{formatDateTime(pipeline().parameters.WindowStart, 'yyyy/MM/dd')}",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "CopyFromFile",
						"type": "Copy",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "AzureBlobFSSink"
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "AzureBlobSource",
								"type": "DatasetReference",
								"parameters": {
									"fileFilter": {
										"value": "@{formatDateTime(pipeline().parameters.WindowStart, '*yyyy-MM-dd*')}",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ADLSGen2Sink_File",
								"type": "DatasetReference",
								"parameters": {
									"path": {
										"value": "input/@{formatDateTime(pipeline().parameters.WindowStart, 'yyyy/MM/dd')}",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"parameters": {
					"WindowStart": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableTemplate')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2Sink_SQL')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobSource')]",
				"[concat(variables('factoryId'), '/datasets/ADLSGen2Sink_File')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IterateAndCopySQLTablesPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IterateTables",
						"type": "ForEach",
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.tableList",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "CopyData",
									"type": "Copy",
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"typeProperties": {
										"source": {
											"type": "SqlSource",
											"sqlReaderQuery": {
												"value": "SELECT * FROM [@{item().TABLE_SCHEMA}].[@{item().TABLE_NAME}]",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "BlobSink"
										},
										"enableStaging": false,
										"dataIntegrationUnits": 0
									},
									"inputs": [
										{
											"referenceName": "AzureSqlTableTemplate",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "AzureBlobTemplate",
											"type": "DatasetReference",
											"parameters": {
												"tableName": {
													"value": "@{item().TABLE_NAME}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"parameters": {
					"tableList": {
						"type": "Array",
						"defaultValue": [
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "Customer"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "ProductDescription"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "Product"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "ProductModelProductDescription"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "ProductCategory"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "Address"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "CustomerAddress"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "SalesOrderDetail"
							},
							{
								"TABLE_SCHEMA": "SalesLT",
								"TABLE_NAME": "SalesOrderHeader"
							}
						]
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlTableTemplate')]",
				"[concat(variables('factoryId'), '/datasets/AzureBlobTemplate')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2Sink_File')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "String"
					}
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"fileName": "",
					"folderPath": {
						"value": "fromfilesource/@{dataset().path}",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/ADLSGen2Sink_SQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADLSGen2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"path": {
						"type": "String"
					}
				},
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"folderPath": {
						"value": "nytaxidata/@{dataset().path}",
						"type": "Expression"
					}
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileFilter": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": {
						"value": "@dataset().fileFilter",
						"type": "Expression"
					},
					"folderPath": "testdata"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobTemplate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "String"
					}
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": {
						"value": "@{dataset().tableName}.csv",
						"type": "Expression"
					},
					"folderPath": "copyfromsql"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTableTemplate')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"type": "AzureSqlTable"
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/testGit')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "",
					"folderPath": "testgit"
				}
			}
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "IncrementalCopyAndAnalysis",
						"type": "PipelineReference"
					},
					"parameters": {
						"WindowStart": "@trigger().outputs.windowStartTime"
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2016-01-01T00:00:00Z",
					"endTime": "2016-01-08T00:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/IncrementalCopyAndAnalysis')]"
			]
		}
	]
}